@using Microsoft.AspNetCore.Identity
@model ODCProject

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<form method="post">
    <input asp-for="Id" hidden />   
    <div class="container border p-3 mt-3">
        <h2>@(Model.Id!=0?"Update":"Create") Project</h2>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label asp-for="Location"></label>
        <input class="form-control" asp-for="Location" />
    </div>
    <div class="mb-3">
        <label asp-for="StartDate"></label>
        <input class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" asp-for="StartDate" />
    </div>
    <div class="mb-3">
        <label asp-for="EndDate"></label>
        <input class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" asp-for="EndDate" />
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="mb-3 hidden">
            <label asp-for="UserId" hidden></label>
        <input class="form-control" asp-for="UserId" value="@UserManager.GetUserId(User)" hidden/>
    </div>
    }


    <div class="mb-2  row">
        <div class="col-6">
            <button class="btn btn-primary form-control" type="submit">@(Model.Id != 0 ? "Update" : "Create")</button>
        </div>
        <div class="col-6">
            <a class="btn btn-secondary form-control" asp-area="Staff" asp-controller="ODCProject" asp-action="Index">Back to List</a>
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
    </div>

</form>
@{
    <partial name="_ValidationScriptsPartial" />
}